@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    background: black;
}
.pixel img{
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.navbar-school{
    padding: 22px 0;
    font-family: "Oranienbaum";
}
.navbar-school a{
    color: #fff;
}
.icons{
    grid-gap: 5px;
}
.iphone{
    font-size: 10px;
}
.iphone a{
    text-decoration: none;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 867px;
    }
}
@media (min-width: 992px)
{
    .navbar-expand-lg .iphone{
        flex-direction: column;
    }
}
@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}
